Repository do-ops885/ai-orchestrator-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint-check

.pre-commit-config.yaml:

repos:
   - repo: https://github.com/pre-commit/pre-commit-hooks
     rev: v4.6.0
     hooks:
       - id: trailing-whitespace
       - id: end-of-file-fixer
       - id: check-yaml
       - id: check-added-large-files

   - repo: local
     hooks:
        - id: cargo-fmt
          name: cargo fmt
          entry: bash -c 'cd backend && cargo fmt --all -- --check'
          language: system
          files: \.rs$
          pass_filenames: false

        - id: cargo-clippy
          name: cargo clippy
          entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings'
          language: system
          files: \.rs$
          pass_filenames: false

        - id: eslint-check
          name: eslint check
          entry: bash -c 'cd frontend && npm run lint:check'
          language: system
          files: \.(ts|tsx|js)$
          exclude: ^frontend/scripts/neural-.*\.js$
          pass_filenames: false

fix(workflows): remove --prefer-offline from npm ci to resolve dependency cache issues
  .github/workflows/release.yml
Due: none

test: add workflow test comment to trigger GitHub Actions
  README.md
Due: none

ci: add workflow-test branch to build workflow triggers
  .github/workflows/build.yml
Due: none

fix(workflows): recreate log_helper.sh in each run step to fix sourcing errors
  .github/workflows/build.yml
Due: none

fix: use unquoted heredoc and escape variables in log_helper.sh creation
  .github/workflows/build.yml
Due: none

fix: simplify logging by defining function inline to avoid YAML issues
  .github/workflows/build.yml
Due: none

fix: remove backslashes from jq command and log_structured call to fix YAML parsing
  .github/workflows/build.yml
Due: none

fix: recreate log_helper.sh in Log change detection results step
  .github/workflows/build.yml
Due: none

fix: use echo instead of heredoc to create log_helper.sh
  .github/workflows/build.yml
Due: none

fix: simplify logging to avoid YAML issues
  .github/workflows/build.yml
Due: none

fix: correct YAML indentation issues in release workflow
  .github/workflows/release.yml
Due: none

fix: update workflow files with latest changes
  .github/workflows/build.yml
  .github/workflows/build.yml.backup
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
Due: none

fix: resolve TypeScript linting issues
  .github/actions/README.md
  .github/actions/cleanup-logging/action.yml
  .github/actions/setup-logging/action.yml
  frontend/src/components/ResourceMonitor.test.tsx
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/utils/errorLogger.ts
Due: eslint-check

fix: YAML formatting and error recovery hook updates
  .opencode/agents.yaml.backup
  frontend/src/hooks/useErrorRecovery.ts
  security_audit_final_report.txt
Due: eslint-check

fix: Address cargo clippy warnings and refactor code for better maintainability
  .opencode/agent/junior-developer.md
  .opencode/agents.yaml.backup
  backend/examples/persistence_demo.rs
  backend/src/core/hive/agent_management.rs
  backend/src/core/hive/background_processes.rs
  backend/src/core/hive/coordinator.rs
  backend/src/core/hive/metrics_collection.rs
  backend/src/core/hive/mod.rs
  backend/src/core/hive/task_management/task_distributor.rs
  backend/src/core/hive/task_management/task_executor.rs
  backend/src/core/hive/task_management/task_metrics.rs
  backend/src/core/hive/task_management/task_queue.rs
  backend/src/core/hive/task_management/task_types.rs
  backend/src/core/hive/task_management_legacy.rs
  backend/src/infrastructure/monitoring/agent_monitor.rs
  backend/src/infrastructure/monitoring/automation.rs
  backend/src/infrastructure/monitoring/dashboard.rs
  backend/src/infrastructure/monitoring/diagnostics.rs
  backend/src/infrastructure/monitoring/integration.rs
  backend/src/infrastructure/monitoring/reporting.rs
  backend/src/infrastructure/performance_integration.rs
  backend/src/infrastructure/persistence.rs
  backend/src/infrastructure/streaming.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/utils/error.rs
  backend/src/utils/math.rs
  backend/src/utils/mod.rs
  opencode.json
Due: cargo-fmt, cargo-clippy

fix: Complete backend compilation fixes for task management system
  .opencode/agents.yaml
  backend/src/core/hive/task_management/task_distributor.rs
  backend/src/core/hive/task_management/task_executor.rs
  backend/src/core/hive/task_management/task_metrics.rs
  backend/src/core/hive/task_management/task_queue.rs
  backend/src/core/hive/task_management/task_types.rs
  backend/src/core/swarm_coordination.rs
  backend/src/core/swarm_intelligence.rs
  backend/src/infrastructure/metrics.rs
  backend/src/infrastructure/performance_optimizer.rs
  backend/src/neural/core.rs
  backend/src/tasks/work_stealing_queue.rs
  opencode.json
Due: cargo-fmt, cargo-clippy

chore: Update agent configuration and add beginner developer agent
  .opencode/agent/beginner-developer.md
  .opencode/agents.yaml
  .opencode/agents.yaml.backup
Due: none

fix: Remove final duplicate description from ai-code-analysis-swarm agent
  .opencode/agents.yaml
Due: none

feat: Update agent configurations and add goal-action-planner
  .opencode/agent/coordinator.md
  .opencode/agent/goal-action-planner.md
  .opencode/agent/orchestrator.md
  .opencode/agent/swarm-coordinator.md
  .opencode/agent/universal-orchestrator.md
  .opencode/agents.yaml
  AGENTS.md
Due: none

feat: Implement neural network optimizations and integrations
  backend/src/neural/core.rs
  backend/src/neural/cpu_optimization.rs
  backend/src/neural/migration_helper.rs
  backend/src/neural/mod.rs
  backend/src/neural/optimized_integration.rs
  backend/src/neural/optimized_network.rs
Due: cargo-fmt, cargo-clippy

feat: Enhance testing with edge cases and utilities
  backend/src/tests/adaptive_verification_edge_case_tests.rs
  backend/src/tests/config_edge_case_tests.rs
  backend/src/tests/error_handling_edge_case_tests.rs
  backend/src/tests/mod.rs
  backend/src/tests/test_utils.rs
  backend/src/tests/testing_edge_case_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: Improve utility modules for error handling and validation
  backend/src/utils/config.rs
  backend/src/utils/error_handling.rs
  backend/src/utils/testing.rs
  backend/src/utils/validation.rs
Due: cargo-fmt, cargo-clippy

chore: Update Cargo dependencies
  backend/Cargo.toml
Due: none

docs: Add optimization analysis and MCP demo
  OPTIMIZATION_ACTION_PLAN.md
  OPTIMIZATION_ANALYSIS.md
  mcp_demo.json
  test_mcp.sh
Due: none

fix: resolve CI workflow syntax errors and permission issues
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: none

test: add test file for PR validation workflow
  test_validation.md
Due: none

feat: Add new agent configurations
  .opencode/agent/coordinator.md
  .opencode/agent/ml-pipeline-manager.md
  .opencode/agent/ml-training-specialist.md
  merge_dependabot_prs.sh
  scripts/monitor-ci-performance.sh
  scripts/optimize-ci-workflows.sh
  scripts/run_multimodal_tests.sh
Due: none

feat: Add multimodal agent feature
  backend/benches/multimodal_agent_benchmarks.rs
  backend/examples/multimodal_agent_demo.rs
  backend/examples/self_healing_swarm_demo.rs
  backend/examples/simple_multimodal_demo.rs
  backend/src/agents/multimodal_agent.rs
  backend/src/agents/multimodal_agent_tests.rs
  backend/src/agents/self_healing_swarm.rs
  backend/src/agents/self_healing_swarm_tests.rs
  backend/tests/edge_case_multimodal_tests.rs
  backend/tests/integration_multimodal_agent.rs
  backend/tests/performance_multimodal_tests.rs
  backend/tests/stress_test_multimodal.rs
  backend/tests/test_utils_multimodal.rs
  docs/MULTIMODAL_AGENT_FEATURE.md
  docs/SELF_HEALING_SWARM_AGENT.md
Due: cargo-fmt, cargo-clippy

chore: Update dependencies and configurations
  .opencode/agent/formatting-agent.md
  .opencode/agent/github-discussions-manager.md
  .opencode/agent/github-documentation-architect.md
  .opencode/agent/github-issue-manager.md
  .opencode/agent/github-label-manager.md
  .opencode/agent/github-pr-manager.md
  .opencode/agent/github-projects-manager.md
  .opencode/agent/link-checker-agent.md
  .opencode/agent/quality-assurance.md
  .opencode/agent/research-agent.md
  .opencode/agent/technical-reviewer.md
  .opencode/agent/test-runner.md
  .opencode/agents.yaml
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/src/store/hiveStore.ts
  mcp_demo.json
Due: eslint-check

Fix TypeScript compilation issues and build-related changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation-optimized.yml
  .github/workflows/pr-validation.yml.backup
  .github/workflows/security.yml
  backend/src/agents/adaptive_verification.rs
  backend/src/agents/mod.rs
  backend/src/communication/mcp.rs
  backend/src/communication/protocols.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/core.rs
  backend/src/neural/migration_helper.rs
  backend/src/neural/mod.rs
  backend/src/neural/optimized_integration.rs
  backend/src/neural/optimized_network.rs
  backend/src/server.rs
  backend/src/tests/adaptive_verification_edge_case_tests.rs
  backend/src/tests/config_edge_case_tests.rs
  backend/src/tests/error_handling_edge_case_tests.rs
  backend/src/tests/mod.rs
  backend/src/tests/testing_edge_case_tests.rs
  backend/src/utils/config.rs
  backend/src/utils/error_handling.rs
  backend/src/utils/error_recovery.rs
  backend/tests/test_report_generator.rs
  backend/tests/validation_test.rs
  frontend/src/store/hiveStore.ts
  tmp_rovodev_compile_issues.txt
  tmp_rovodev_optimization_script.sh
Due: cargo-fmt, cargo-clippy, eslint-check

Bump version to 0.1.0-alpha.5
  CHANGELOG.md
  backend/Cargo.toml
  backend/RELEASE_NOTES.md
  frontend/package.json
Due: none

fix: apply PR workflow fixes and add validation checks
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pr-validation-optimized.yml
  analysis/20250920/cargo-duplicates.txt
  analysis/20250920/cargo-features.txt
  analysis/20250920/cargo-outdated.txt
  analysis/20250920/cargo-tree.txt
  analysis/20250920/npm-audit.json
  analysis/20250920/npm-dependencies.txt
  analysis/20250920/npm-duplicates.txt
  analysis/20250920/npm-licenses.json
  analysis/20250920/security-audit.json
  analysis/20250920/summary.md
  analysis/20250920/unused-dependencies.json
  backend/src/infrastructure/intelligent_cache.rs
  backend/src/neural/data.rs
  backend/src/neural/optimized_integration.rs
  backend/src/utils/error_handling.rs
Due: cargo-fmt, cargo-clippy

feat: Update frontend dependencies and add new components
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/bin/mcp_server.rs
  backend/src/communication/mcp.rs
  backend/src/core/hive/background_processes.rs
  backend/src/core/hive/task_management/task_creation.rs
  backend/src/infrastructure/intelligent_cache.rs
  backend/src/infrastructure/performance_integration.rs
  backend/src/infrastructure/persistence.rs
  backend/src/init.rs
  backend/src/lib.rs
  backend/src/monitoring.rs
  backend/src/neural/core.rs
  backend/src/neural/mod.rs
  backend/src/neural/optimized_network.rs
  backend/src/server.rs
  backend/src/tests/agent_tests.rs
  backend/src/utils/centralized_error_handling_tests.rs
  backend/tests/auth_integration_tests.rs
  backend/tests/auth_unit_tests.rs
  backend/tests/swarm_coordinator_tests.rs
  backend/tests/test_utils.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ApiReference.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/InteractiveDocs.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/MonitoringDashboard.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/ResourceMonitor.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: cargo-fmt, cargo-clippy, eslint-check

ci: Add optimized CI workflows and update scripts
  .github/workflows/cache-optimization.yml
  .github/workflows/matrix-build.yml
  .github/workflows/optimized-build.yml
  opencode.json
  scripts/run-mcp-service.sh
  tests/test-mcp-implementation.py
  tmp_rovodev_comprehensive_mcp_test.py
  tmp_rovodev_mcp_test_results.json
Due: none

feat: Add monitoring system and testing enhancements to backend
  backend/src/monitoring.rs
Due: cargo-fmt, cargo-clippy
