Repository do-ops885/ai-orchestrator-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint-check

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd backend && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

eslint-check:
  name: eslint check
  entry: bash -c 'cd frontend && npm run lint:check'
  language: system
  pass_filenames: false

feat: update agent configurations, neural modules, and project settings
  .opencode/agent/universal-orchestrator.md
  backend/Cargo.toml
  backend/settings/default.toml
  backend/src/core/fallback.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/data.rs
  backend/src/neural/experiments.rs
  backend/src/neural/monitoring.rs
  backend/src/neural/training.rs
  frontend/data/metadata.json
  frontend/training/hpo_grid_results.json
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  opencode.json
Due: cargo-fmt, cargo-clippy

feat: complete neural training and core system enhancements
  backend/src/core/fallback.rs
  backend/src/core/hive.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/data.rs
  backend/src/neural/experiments.rs
  backend/src/neural/monitoring.rs
  backend/src/neural/training.rs
Due: cargo-fmt, cargo-clippy

feat: update AI Orchestrator Hub backend components
  backend/Cargo.toml
  backend/src/agents/verification.rs
  backend/src/core/fallback.rs
  backend/src/infrastructure/benchmarks.rs
  backend/src/infrastructure/memory_pool.rs
  backend/src/infrastructure/monitoring.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/neural/experiments.rs
  backend/src/neural/monitoring.rs
  backend/src/neural/training.rs
  backend/src/tests/agent_tests.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/tests/neural_tests.rs
  backend/src/tests/task_tests.rs
  backend/src/utils/config.rs
Due: cargo-fmt, cargo-clippy

Sync latest changes to backend infrastructure, neural modules, tests, and configuration
  backend/src/core/fallback.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/neural/experiments.rs
  backend/src/neural/training.rs
  backend/src/tests/agent_tests.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/tests/neural_tests.rs
  backend/src/tests/task_tests.rs
  backend/src/utils/config.rs
  opencode.json
Due: cargo-fmt, cargo-clippy

Refactor backend code and enhance test infrastructure
  backend/src/agents/verification.rs
  backend/src/core/fallback.rs
  backend/src/infrastructure/persistence.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/neural/data.rs
  backend/src/neural/experiments.rs
  backend/src/neural/mod.rs
  backend/src/neural/monitoring.rs
  backend/src/neural/training.rs
  backend/src/tests/agent_tests.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/tests/neural_tests.rs
  backend/src/tests/task_tests.rs
Due: cargo-fmt, cargo-clippy

Update project files
  .agent.md
  .gitignore
  .opencode/agent/git.md
  AGENTS.md
  backend/src/agents/recovery.rs
  backend/src/core/fallback.rs
  backend/src/core/hive.rs
  backend/src/infrastructure/monitoring.rs
  backend/src/infrastructure/persistence.rs
  backend/src/infrastructure/resource_manager.rs
  backend/src/infrastructure/security_middleware.rs
  backend/src/infrastructure/telemetry.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/neural/cpu_optimization.rs
  backend/src/neural/data.rs
  backend/src/neural/experiments.rs
  backend/src/neural/mod.rs
  backend/src/neural/monitoring.rs
  backend/src/neural/neural.rs
  backend/src/neural/nlp.rs
  backend/src/neural/training.rs
  backend/src/tasks/task.rs
  backend/src/tasks/work_stealing_queue.rs
  backend/src/tests/agent_tests.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/utils/auth.rs
  backend/src/utils/config.rs
  backend/src/utils/error.rs
  backend/src/utils/health_check.rs
  backend/src/utils/mod.rs
  backend/src/utils/rate_limiter.rs
  backend/src/utils/security.rs
  backend/src/utils/structured_logging.rs
  backend/src/utils/testing.rs
  backend/src/utils/testing_framework.rs
  backend/src/utils/validation.rs
  monitoring/.gitkeep
  training/.gitkeep
Due: cargo-fmt, cargo-clippy

feat: add new agent definitions and enhance orchestration capabilities
  .opencode/agent/cargo-clippy-fixer.md
  .opencode/agent/git.md
  .opencode/agent/playwright-react-tester.md
  .opencode/agent/react-debug-specialist.md
  .opencode/agent/rust-debug-specialist.md
  .opencode/agent/universal-orchestrator.md
  .opencode/agents.yaml
  backend/src/core/fallback.rs
  backend/src/neural/adaptive_learning.rs
  opencode.json
Due: cargo-fmt, cargo-clippy

style: apply rustfmt formatting changes
  backend/src/utils/config.rs
  backend/src/utils/health_check.rs
  backend/src/utils/structured_logging.rs
Due: cargo-fmt, cargo-clippy

Fix GitHub Actions workflows errors and warnings
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .opencode/agent/git.md
  .opencode/agent/universal-orchestrator.md
  README.md
  backend/test_output.txt
  opencode.json
Due: none

fix: correct YAML syntax errors in GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: correct remaining YAML indentation issues in maintenance.yml
  .github/workflows/maintenance.yml
Due: none

fix: correct YAML indentation issues in security.yml, pr-validation.yml, and release.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: correct final YAML indentation issues
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: remove potentially unsupported pull_request type
  .github/workflows/pr-validation.yml
Due: none

fix: remove potentially problematic workflow triggers
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: remove schedule trigger from maintenance.yml
  .github/workflows/maintenance.yml
Due: none

fix: correct indentation issues in workflows
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

enhance: overhaul CI/CD workflows with structured logging, error handling, and comprehensive monitoring
  .github/markdown-link-check.json
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .opencode/agent/github-wiki-editor.md
  .opencode/agent/worker.md
  backend/src/init.rs
  backend/src/utils/config.rs
  opencode.json
  scripts/deploy-workflows.sh
  scripts/integration_tests.sh
Due: cargo-fmt, cargo-clippy

fix: address clippy warnings for vec_init_then_push and other lint issues
  backend/src/agents/recovery.rs
  backend/src/agents/simple_verification.rs
  backend/src/agents/skill_evolution.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/utils/config.rs
  backend/src/utils/security.rs
  backend/src/utils/structured_logging.rs
Due: cargo-fmt, cargo-clippy

Fix compilation issues: resolve async/await, imports, and unused variables
  backend/src/agents/recovery.rs
  backend/src/agents/simple_verification.rs
  backend/src/agents/skill_evolution.rs
  backend/src/infrastructure/persistence.rs
  backend/src/init.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/server.rs
  backend/src/utils/security.rs
  backend/src/utils/structured_logging.rs
Due: cargo-fmt, cargo-clippy

Fix method call to use associated function syntax
  backend/src/agents/recovery.rs
Due: cargo-fmt, cargo-clippy

Fix test failures: timing and assertion issues
  backend/src/tasks/work_stealing_queue.rs
  backend/src/tests/integration_tests.rs
  backend/src/tests/neural_tests.rs
Due: cargo-fmt, cargo-clippy

Retry: Add MCP support with HTTP transport and service scripts
  .agent.md
  .gitignore
  .opencode/agent/ai-code-analysis-swarm.md
  .opencode/agent/universal-orchestrator.md
  .opencode/agents.yaml
  .rovodev/mcp.json
  backend/Cargo.toml
  backend/src/agents/collaborative_learning.rs
  backend/src/agents/recovery.rs
  backend/src/agents/simple_verification.rs
  backend/src/agents/skill_evolution.rs
  backend/src/communication/mcp.rs
  backend/src/communication/mcp_http.rs
  backend/src/communication/mod.rs
  backend/src/infrastructure/circuit_breaker.rs
  backend/src/infrastructure/performance_optimizer.rs
  backend/src/infrastructure/persistence.rs
  backend/src/main.rs
  backend/src/neural/adaptive_learning.rs
  backend/src/server.rs
  backend/src/tasks/work_stealing_queue.rs
  backend/src/tests/hive_tests.rs
  backend/src/tests/integration_tests.rs
  backend/src/tests/neural_tests.rs
  backend/src/utils/auth.rs
  frontend/src/app/page.tsx
  frontend/src/components/ResourceMonitor.tsx
  frontend/tsconfig.tsbuildinfo
  opencode.json
  scripts/ai-orchestrator-hub.service
  scripts/install-service.sh
  scripts/run-mcp-service.sh
  tests/.gitkeep
  tests/test-mcp-implementation.py
  tests/test-rovo-dev-integration.py
Due: cargo-fmt, cargo-clippy, eslint-check

docs: Update existing agent documentation
  .opencode/agent/coordinator.md
  .opencode/agent/git.md
  AGENTS.md
Due: none

feat: Enhance collaborative learning agent with improved test error handling and add swarm-coordinator agent configuration
  .opencode/agents.yaml
  backend/src/agents/collaborative_learning.rs
  opencode.json
Due: cargo-fmt, cargo-clippy

docs: Add new agent and command documentation
  .opencode/agent/swarm-coordinator.md
  .opencode/command/commit.md
Due: none

docs: update project documentation and guides
  .opencode/README.md
  CONTRIBUTING.md
  DEMO_SCRIPT.md
  QUICK_START_GUIDE.md
  README_LINTING.md
  backend/TESTING.md
  frontend/README.md
Due: none

feat: add and update agent definitions
  .opencode/agent/code-analyzer.md
  .opencode/agent/dashboard-specialist.md
  .opencode/agent/formatting-agent.md
  .opencode/agent/github-documentation-architect.md
  .opencode/agent/github.md
  .opencode/agent/learner.md
  .opencode/agent/memory_agent.md
  .opencode/agent/neural-engineer.md
  .opencode/agent/optimized_agent.md
  .opencode/agent/orchestrator.md
  .opencode/agent/performance-optimizer.md
  .opencode/agent/quality-assurance.md
  .opencode/agent/react-developer.md
  .opencode/agent/recovery_agent.md
  .opencode/agent/research-agent.md
  .opencode/agent/security-auditor.md
  .opencode/agent/simple_verification_agent.md
  .opencode/agent/skill_evolution_agent.md
  .opencode/agent/swarm-architect.md
  .opencode/agent/technical-reviewer.md
  .opencode/agent/test-runner.md
Due: none

feat: add and update command definitions
  .opencode/command/agent-monitor.md
  .opencode/command/analyze-deps.md
  .opencode/command/benchmark.md
  .opencode/command/build-backend.md
  .opencode/command/build-frontend.md
  .opencode/command/neural-train.md
  .opencode/command/setup-dev.md
  .opencode/command/swarm-simulate.md
  .opencode/command/test-all.md
Due: none

feat: update backend configuration and code
  backend/rustfmt.toml
  backend/settings/development.toml
  backend/settings/production.toml
  backend/src/agents/skill_evolution.rs
  backend/src/agents/verification_engine.rs
  backend/src/api/mod.rs
  backend/src/api/responses.rs
  backend/src/communication/mcp.rs
Due: cargo-fmt, cargo-clippy

feat: update frontend configuration and components
  frontend/next.config.js
  frontend/postcss.config.js
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/MetricsPanel.tsx
  frontend/src/components/NeuralMetrics.tsx
  frontend/src/components/SwarmVisualization.tsx
  frontend/tailwind.config.js
Due: eslint-check

chore: update GitHub workflows and project configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/gh-labels-creator.sh
  opencode.json
Due: none

test: improve frontend test stability and configuration for alpha release
  frontend/.eslintrc.cjs
  frontend/src/components/NeuralMetrics.test.tsx
  frontend/src/components/ResourceMonitor.test.tsx
  frontend/vitest.config.ts
Due: eslint-check

fix(workflows): replace --argjson with --arg in log_helper scripts
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-validation.yml
Due: none

chore: update version to 0.1.0-alpha.1
  backend/Cargo.toml
  backend/src/agents/agent.rs
  backend/src/agents/recovery.rs
  backend/src/communication/mcp_http.rs
  backend/src/core/hive.rs
  backend/src/infrastructure/cache.rs
  backend/src/infrastructure/connection_pool.rs
  backend/src/neural/core.rs
  backend/src/server.rs
  backend/src/tasks/task.rs
  backend/src/tasks/work_stealing_queue.rs
  backend/tests/api_integration_tests.rs
  backend/tests/chaos_engineering_tests.rs
  backend/tests/performance_regression_tests.rs
  frontend/.eslintrc.cjs
  frontend/README.md
  frontend/e2e/dashboard.spec.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ClientErrorBoundary.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FallbackUI.tsx
  frontend/src/components/MetricsPanel.test.tsx
  frontend/src/components/NeuralMetrics.test.tsx
  frontend/src/components/ResourceMonitor.test.tsx
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/utils/errorLogger.ts
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  frontend/vitest.config.ts
  scripts/generate-api-docs.sh
  scripts/lint-documentation.sh
  scripts/security-audit.sh
Due: cargo-fmt, cargo-clippy, eslint-check

release(v0.1.0-alpha.1): Initial alpha release with comprehensive improvements
  .gitignore
  RELEASE_NOTES_v0.1.0-alpha.1.md
  backend/src/communication/mcp_http.rs
  backend/src/core/hive.rs
  backend/src/infrastructure/connection_pool.rs
  backend/src/neural/core.rs
  backend/src/tasks/work_stealing_queue.rs
  backend/tests/api_integration_tests.rs
  backend/tests/chaos_engineering_tests.rs
  backend/tests/performance_regression_tests.rs
  frontend/e2e/dashboard.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/ClientErrorBoundary.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FallbackUI.tsx
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/utils/errorLogger.ts
  frontend/tsconfig.tsbuildinfo
  scripts/generate-api-docs.sh
  scripts/lint-documentation.sh
  scripts/security-audit.sh
Due: cargo-fmt, cargo-clippy, eslint-check

Organize repository structure and cleanup release files
  docs/releases/v0.1.0-alpha.1.md
Due: none

fix: resolve package-lock.json sync issue with yocto-queue version
  frontend/package-lock.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  eslint-check: any of: \.(ts|tsx|js)$, but not: ^frontend/scripts/neural-.*\.js$
